<?xml version="1.0"?>

<model>
  <name>three_pictures</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Salvador Molina Becerra, Jose Luis Grande Castro and The Construct</name>
    <email>leosalva15@gmail.com, jgrandesmx2010@gmail.com and info@theconstructsim.com</email>
  </author>

  <description>
    easter egg.
  </description>
</model>
